@use "../../components/Layout/Layout.scss" as *;
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 38px;

  @include respond-to-tablet {
    gap: 20px;
  }

  .collapse {
    width: 82.5%;

    @include respond-to-tablet {
      width: 100%;
    }
  }
}
