@use "/src/components/Layout/Layout.scss" as *;

%montserrat-base {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0;
  vertical-align: bottom;
}

.estate {
  margin-top: 40px;

  .header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    gap: 12px;

    .title-location {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;

      .estate-title {
        @extend %montserrat-base;
        color: $main--color;
        font-size: 36px;
        margin: 0;
      }

      .estate-location {
        @extend %montserrat-base;
        color: #000;
        font-size: 18px;
        margin: 0;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .tag {
        background-color: $main--color;
        color: #fff;
        @extend %montserrat-base;
        font-weight: 700;
        font-size: 10px;
        padding: 6px 12px;
        border-radius: 10px;
        white-space: nowrap;
      }
    }

    .host-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .host-rating {
        order: 1;
      }

      .host-main {
        display: flex;
        align-items: center;
        gap: 8px;
        order: 2;
      }

      .host-name {
        @extend %montserrat-base;
        color: $main--color;
        font-size: 18px;
        text-align: right;
        margin: 0;
      }

      .host-img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
    }
  }

  .collapses {
    display: flex;
    gap: 76px;

    .collapse {
      width: 50%;
    }
  }

@include respond-to-tablet {
  .estate {
    margin-top: 8px !important;
  }

  .header-info {
    gap: 12px;
  }

  .estate-title {
    font-size: 18px !important;
  }

  .estate-location {
    font-size: 14px !important;
  }

  .tags {
    gap: 8px;

    .tag {
      width: 84px;
      height: 18px;
      border-radius: 5px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      text-align: center;
    }
  }

  .host-block {
    flex-direction: row;
    justify-content: space-between;

    .host-name {
      font-size: 12px !important;
    }

    .host-img {
      width: 32px !important;
      height: 32px !important;
      border-radius: 50% ;
    }
  }

  .collapses {
    flex-direction: column;
    gap: 20px;
    margin: 24px 0 8px;

    .collapse {
      width: 100%;
    }
  }

  .spacer {
  margin-top: 8px !important;
    
  }
}

}
