@use "../../variables/Media.scss" as *;
@use "../../variables/Colors.scss" as *;

.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;        
  padding-inline: 0;             
  margin: 0 auto;                
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to-tablet {
    height: 111px;
  }

  &--shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.banner--opacity::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 223px;
    object-fit: cover;
    display: block;

    @include respond-to-tablet {
      height: 111px;
    }
  }

  &__text {
    position: absolute;
    color: white;
    font-size: 36px;
    z-index: 2;

    @include respond-to-tablet {
      font-size: 18px;
      text-align: left;
      padding-inline: 16px;
    }
  }
}
